NODE_ENV=development
PORT=3000

POSTGRES_PORT=5433
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/dragon_lap?schema=public

JWT_SECRET=super-secret-change-this
JWT_EXPIRES_IN=1d

ADMIN_FULL_NAME=Store Admin
ADMIN_EMAIL=admin@dragonlap.local
ADMIN_PASSWORD=admin123456
ADMIN_PHONE=01000000000

CORS_ORIGIN=http://localhost:3000

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_FOLDER=dragon-lap/laptops
